<div class="container">
    <h4 class="container_title">{{'titles.welcome'| translate}}!!!</h4>
    <p class="container_description">{{'titles.welcomeDescription' | translate}}</p>
    <div class="home">
        <div routerLink="/hero" class="ripple-container mat-elevation-z4" matRipple [matRippleCentered]="true">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>article</mat-icon>
            </button>
            <span>{{'titles.heroes' | translate}}</span>
            <p>{{'titles.heroesIntroduction'| translate}}!!!</p>
        </div>
    </div>
</div>
