<div class="container">
    <h4 class="container_title">Bienvenidos a la página de heroes!!!</h4>
    <p class="container_description">A continuación seleccione el recuadro para acceder a la gestión de los heroes</p>
    <div class="home">
        <div routerLink="/hero" class="ripple-container mat-elevation-z4" matRipple [matRippleCentered]="true">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>article</mat-icon>
            </button>
            <span>Heroes</span>
            <p>Ingresa para ver todos los heroes, editar y crear nuevos!!!</p>
        </div>
    </div>
</div>
