<mat-card>
    <div class="container">
        <a class="return" routerLink="/hero">{{'heroForm.back' | translate}}</a>
        <div  class="container_header">
            <p *ngIf="!edit">{{'heroForm.createHero' | translate}}e</p>
            <p *ngIf="edit">
                <span>{{'heroForm.edit' | translate}}</span>
                <span appTitle>{{hero.nickName}}</span>
            </p>
        </div>
        <form [formGroup]="heroForm" (ngSubmit)="submitForm()">
            <div class="container_form">
                <mat-form-field appearance="legacy">
                    <mat-label>{{'heroForm.name' | translate}}</mat-label>
                    <input formControlName="name" matInput placeholder="{{'heroForm.name' | translate}}">
                    <mat-error>{{'heroForm.errors.requiredName' | translate}}</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="legacy">
                    <mat-label>{{'heroForm.heroName' | translate}}</mat-label>
                    <input UpperCase formControlName="nickName" matInput placeholder="{{'heroForm.heroName' | translate}}">
                    <mat-error>{{'heroForm.errors.requiredHeroName' | translate}}</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="legacy">
                    <mat-label>{{'heroForm.age' | translate}}</mat-label>
                    <input formControlName="age" matInput placeholder="{{'heroForm.age' | translate}}" type="number">
                    <mat-error>{{'heroForm.errors.requiredAge' | translate}}</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="legacy">
                    <mat-label>{{'heroForm.company' | translate}}</mat-label>
                    <input formControlName="company" matInput placeholder="{{'heroForm.company' | translate}}">
                    <mat-error>{{'heroForm.errors.requiredCompany' | translate}}</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="legacy">
                    <mat-label>{{'heroForm.power' | translate}}</mat-label>
                    <input formControlName="power" matInput placeholder="{{'heroForm.power' | translate}}">
                    <mat-error>{{'heroForm.errors.requiredPower' | translate}}</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="legacy">
                    <mat-label>{{'heroForm.height' | translate}}</mat-label>
                    <input formControlName="height" matInput placeholder="{{'heroForm.height' | translate}}" type="number">
                    <mat-error>{{'heroForm.errors.requiredHeight' | translate}}</mat-error>
                  </mat-form-field>
            </div>
            <div class="center">
                <button mat-stroked-button color="primary" type="submit">{{'heroForm.save' | translate}}</button>
            </div>
        </form>
    </div>
</mat-card>

